.container {
  background: rgba(0, 0, 0, 0.02);
}
.container .top-banner {
  height: 400px;
  background: tomato;
  color: white;
  display: flex;
  align-items: center;
  background-image: url("/src/media/top_banner_img.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.container .top-banner .heading-wraper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}
.container .top-banner .slogan-heading {
  font-size: 32px;
  font-weight: 600;
}
.container .top-banner .slogan-description {
  width: 50%;
  font-weight: 400;
}
.container .our-services {
}
.banner-heading {
  margin: 1rem 2rem !important;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
}
.our-services .our-services-cards {
  min-height: 400px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.heading-color {
  color: rgba(0, 0, 0, 0.6);
}
.text-center {
  text-align: center;
}
.our-services-cards .heart_with_wings,
.our-services-cards .single_ellipse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  transition: top 300ms;
}
.our-services-cards .heart_with_wings {
  top: -50px;
}
.our-services-cards .heart_with_wings.card2 {
  top: -100px;
}
.our-services-cards .single_ellipse {
  top: 380px;
}

.our-services-cards:hover .heart_with_wings {
  top: 10px;
}
.our-services-cards:hover .single_ellipse {
  top: 120px;
}
.our-services .our-services-cards .card-heading {
  position: relative;
  transition: top 300ms;
  top: 80px;
}
.our-services .our-services-cards .card-heading.card2 {
  top: 100px;
}
.our-services .our-services-cards:hover .card-heading {
  top: 150px;
}
